body {
    font-family: 'Segoe UI', sans-serif;
    /*position: relative;*/
    padding-bottom: 50px;
}

span {
    font-style: italic;
}

.page-top-header {
    background: #00698b !important;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
}

.sidebar {
    /*background-color: #ebeaea;*/
    border-radius: 25px;
    background: #ebeaea;
    padding: 20px;
}

.name-text {
    font-size: 25px;
}

.text-footer {
    color: whitesmoke;
}

.navbar {
    display: block;
    position: fixed;
}