body {
    font-family: 'Segoe UI', sans-serif;
    position: relative;
}

span {
    font-style: italic;
}

.sidebar {
    /*background-color: #ebeaea;*/
    border-radius: 25px;
    background: #ebeaea;
    padding: 20px;
}

.name-text {
    font-size: 25px;
}