<h2>Nuget Galleri Projekter</h2>
<hr/>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">WPF Startup Manager</h3>
    </div>
    <div class="panel-body">
        <div class="pull-right label label-success">Udgivet</div>
        <p>Et lille bibliotek på NuGet galleriet til at starte en WPF applikation sammmen med windows.</p>

        <h3>For hvem</h3>
        <p>Alle der har brug for det, jeg har selv haft brug for det mange gange, og besluttede mig for at lave og udgive en pakke der var nem at bruge.</p>

        <h3>Tekniske detaljer</h3>
        <p>Lavet som et C# Class Library.</p>
        <p>Det tilføjer programmet til windows registrerings databasen der håndtere start af applikationer.</p>

        <h3>Preview</h3>
        <p>Ikke tilgængelig</p>

        <h3>Screenshots</h3>
        <p>Ikke tilgængelig</p>

        <h3>Yderligere info</h3>
        <a class="btn btn-info" href="https://github.com/itniels/WPF-Startup-Manager">Github</a>
        <a class="btn btn-info" href="https://www.nuget.org/packages/NovaKittySoftware.wpf.StartupManager/">Nuget Gallery</a>
    </div>
</div>