<h2>Web Projects</h2>
<hr/>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">NielsSchmidt.dk</h3>
    </div>
    <div class="panel-body">
        <span class="pull-right label label-warning">In development</span>
        <p>My personal resumé website.</p>

        <h3>For who</h3>
        <p>For myself, as I needed a place to show who I am and what I can do.</p>

        <h3>Technical details</h3>
        <p>Made using C# ASP.NET MVC, using HTML5, CSS3, JavaScript, JQuery and Ajax.</p>
        <p>It is hosted on my own dedicated Windows 2012 Server running IIS and MSSQL 2016.</p>

        <h3>Preview</h3>
        <p>This site ;)</p>

        <h3>Screenshots</h3>
        <p>Not available</p>

        <h3>Learn more</h3>
        <a class="btn btn-info" href="https://github.com/itniels/NielsSchmidt-Website">Github</a>
    </div>
</div>