<h2>Winform Projekter</h2>
<hr />

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Computer Monitor</h3>
    </div>
    <div class="panel-body">
        <span class="pull-right label label-success">Udgivet</span>
        <p>
            En Winforms applikation for en lokal skole, til at overvåge om deres computere er tændt eller slukket.<br />
            Den kan også gruppere dem og angive informationer om hver pc, såvel som tænd og slukke dem fra interfacet.
        </p>

        <h3>For hvem</h3>
        <p>Lavet for en lokal skoles IT afdeling.</p>

        <h3>Tekniske detaljer</h3>
        <p>Lavet med C# og Winforms</p>

        <h3>Preview</h3>
        <p>Ikke tilgængelig.</p>

        <h3>Screenshots</h3>
        <p>Kommer snart</p>

        <h3>Yderligere info</h3>
        <p>Ikke tilgængelig.</p>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Student Creator</h3>
    </div>
    <div class="panel-body">
        <span class="pull-right label label-success">Udgivet</span>
        <p>
            En winforms applikation for en lokal skole, der læser et excel dokument med alle de nye studerende, og så automagisk opretter dem i Active Directory på serveren.<br/>
            Såvel som laver mapper, mappe-delinger og rettigheder.
        </p>

        <h3>For hvem</h3>
        <p>Lavet for en lokal skoles IT afdeling.</p>

        <h3>Tekniske detaljer</h3>
        <p>Lavet med C# og Winforms</p>

        <h3>Preview</h3>
        <p>Ikke tilgængelig.</p>

        <h3>Screenshots</h3>
        <p>Kommer snart</p>

        <h3>Yderligere info</h3>
        <p>Ikke tilgængelig.</p>
    </div>
</div>