<h2>Winforms Projects</h2>
<hr />

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Computer Monitor</h3>
    </div>
    <div class="panel-body">
        <span class="pull-right label label-success">Released</span>
        <p>
            A Winforms application for a local school, to monitor which computers are on or off.<br/>
            It also groups them and you can add information about each PC, as well as turn them on or off from the interface.
        </p>

        <h3>For who</h3>
        <p>I made this for a local schools IT department.</p>

        <h3>Technical details</h3>
        <p>Made using C# and Winforms</p>

        <h3>Preview</h3>
        <p>Not available.</p>

        <h3>Screenshots</h3>
        <p>Coming soon</p>

        <h3>Learn more</h3>
        <p>Not available.</p>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Student Creator</h3>
    </div>
    <div class="panel-body">
        <span class="pull-right label label-success">Released</span>
        <p>
            A Winforms application for a local school, that reads an excel document with all the new students, and then automagically create the users in Active Directory on the server.<br />
            As well as creates folders, shares, and permissions.
        </p>

        <h3>For who</h3>
        <p>I made this for a local schools IT department.</p>

        <h3>Technical details</h3>
        <p>Made using C# and Winforms</p>

        <h3>Preview</h3>
        <p>Not available.</p>

        <h3>Screenshots</h3>
        <p>Coming soon</p>

        <h3>Learn more</h3>
        <p>Not available.</p>
    </div>
</div>