<h2>WPF Projects</h2>
<hr/>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">iNet Monitor</h3>
    </div>
    <div class="panel-body">
        <span class="pull-right label label-warning">In development</span>
        <p>A simple application that monitors the health of your internet connection.</p>

        <h3>For who</h3>
        <p>I needed it for myself, and for anyone else who finds it useful.</p>

        <h3>Technical details</h3>
        <p>Made using C# and WPF</p>

        <h3>Preview</h3>
        <p>Not available.</p>

        <h3>Screenshots</h3>
        <p>Not available</p>

        <h3>Learn more</h3>
        <a class="btn btn-info" href="https://github.com/itniels/NielsSchmidt-Website">Github</a>
    </div>
</div>