<h2>WPF Projekter</h2>
<hr />

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Windows Power Buttons</h3>
    </div>
    <div class="panel-body">
        <span class="pull-right label label-success">Udgivet</span>
        <p>
            En meget simpelt WPF applikation til at genstarte/lukke windows.<br />
            Fordi i remote desktop (ikke servere) skulle jeg bruge kommando prompten hver gang, så denne gør det nemmere.
        </p>

        <h3>For hvem</h3>
        <p>Til mig selv, og andre der kunne have brug for det.</p>

        <h3>Tekniske detaljer</h3>
        <p>Lavet med C# og WPF</p>

        <h3>Preview</h3>
        <p>Ikke tilgængelig.</p>

        <h3>Screenshots</h3>
        <p>Kommer snart</p>

        <h3>Yderligere info</h3>
        <a class="btn btn-info" href="https://github.com/itniels/Windows-Power-Buttons">Github</a>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">iNet Monitor</h3>
    </div>
    <div class="panel-body">
        <span class="pull-right label label-warning">Under udvikling</span>
        <p>En simpel applikation der hodler øje med din internet forbindelse.</p>

        <h3>For hvem</h3>
        <p>Til mig selv, og andre der kunne have brug for det.</p>

        <h3>Tekniske detaljer</h3>
        <p>Lavet med C# og WPF</p>

        <h3>Preview</h3>
        <p>Ikke tilgængelig.</p>

        <h3>Screenshots</h3>
        <p>Kommer snart</p>

        <h3>Yderligere info</h3>
        <a class="btn btn-info" href="https://github.com/itniels/NielsSchmidt-Website">Github</a>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Force My Settings</h3>
    </div>
    <div class="panel-body">
        <span class="pull-right label label-warning">Under udvikling</span>
        <p>
            En lille applikation der overvåger og sætter dine windows indstillinger. Fordi min bærbare computer altid nustiller tateturest gentage hastighed, så jeg lavede denne
            til at sætte det automatisk.
        </p>

        <h3>For hvem</h3>
        <p>Til mig selv, og andre der kunne have brug for det.</p>

        <h3>Tekniske detaljer</h3>
        <p>Lavet med C# og WPF</p>

        <h3>Preview</h3>
        <p>Ikke tilgængelig.</p>

        <h3>Screenshots</h3>
        <p>Kommer snart</p>

        <h3>Yderligere info</h3>
        <a class="btn btn-info" href="https://github.com/itniels/Force-My-Settings">Github</a>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">NiKa IM</h3>
    </div>
    <div class="panel-body">
        <span class="pull-right label label-danger">Dødt projekt</span>
        <p>
            A XMPP client with encrypted chat and voice/video calls.
        </p>

        <h3>For who</h3>
        <p>
            I started making this as a fun side project, because skype was not living up to my expecations!<br />
            But because of school and other things that was important, the projekt stalled for now.
        </p>

        <h3>For hvem</h3>
        <p>Til mig selv, og andre der kunne have brug for det.</p>

        <h3>Tekniske detaljer</h3>
        <p>Lavet med C#, WPF og en linux server der kører en XMPP server.</p>

        <h3>Preview</h3>
        <p>Ikke tilgængelig.</p>

        <h3>Screenshots</h3>
        <p>Kommer snart</p>

        <h3>Yderligere info</h3>
        <p>Ikke tilgængelig.</p>
    </div>
</div>