<h2>WPF Projects</h2>
<hr />

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Windows Power Buttons</h3>
    </div>
    <div class="panel-body">
        <span class="pull-right label label-success">Released</span>
        <p>
            A very simple WPF application to shutdown/restart windows.<br />
            Because i use remote desktop on windows (non server) i had to use the command prompt everytime, so I made this to make it easier.
        </p>

        <h3>For who</h3>
        <p>I needed it for myself, and for anyone else who finds it useful.</p>

        <h3>Technical details</h3>
        <p>Made using C# and WPF</p>

        <h3>Preview</h3>
        <p>Not available.</p>

        <h3>Screenshots</h3>
        <div class="portfolio-img" align="center">
            <img src="../../Content/Images/Portfolio/Windows Power Buttons/WPB_1.png" />
            <hr />
            <img src="../../Content/Images/Portfolio/Windows Power Buttons/WPB_2.png" />
            <hr />
            <img src="../../Content/Images/Portfolio/Windows Power Buttons/WPB_3.png" />
        </div>

        <h3>Learn more</h3>
        <a class="btn btn-info" href="https://github.com/itniels/Windows-Power-Buttons">Github</a>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">iNet Monitor</h3>
    </div>
    <div class="panel-body">
        <span class="pull-right label label-warning">In development</span>
        <p>A simple application that monitors the health of your internet connection.</p>

        <h3>For who</h3>
        <p>I needed it for myself, and for anyone else who finds it useful.</p>

        <h3>Technical details</h3>
        <p>Made using C# and WPF</p>

        <h3>Preview</h3>
        <p>Not available.</p>

        <h3>Screenshots</h3>
        <div class="portfolio-img" align="center">
            <img src="../../Content/Images/Portfolio/iNet Monitor/iNetMonitor_1.png" />
            <hr />
            <img src="../../Content/Images/Portfolio/iNet Monitor/iNetMonitor_2.png" />
            <hr />
            <img src="../../Content/Images/Portfolio/iNet Monitor/iNetMonitor_3.png" />
        </div>

        <h3>Learn more</h3>
        <a class="btn btn-info" href="https://github.com/itniels/NielsSchmidt-Website">Github</a>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Force My Settings</h3>
    </div>
    <div class="panel-body">
        <span class="pull-right label label-warning">In development</span>
        <p>
            A small application that monitors and sets your windows settings. Because my laptop always resets the keyboard repeat speed to the slowest, so i made this to
            set it back automatically.
        </p>

        <h3>For who</h3>
        <p>I needed it for myself, and for anyone else who finds it useful.</p>

        <h3>Technical details</h3>
        <p>Made using C# and WPF</p>

        <h3>Preview</h3>
        <p>Not available.</p>

        <h3>Screenshots</h3>
        <p>Coming soon</p>

        <h3>Learn more</h3>
        <a class="btn btn-info" href="https://github.com/itniels/Force-My-Settings">Github</a>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">NiKa IM</h3>
    </div>
    <div class="panel-body">
        <span class="pull-right label label-danger">Dead project</span>
        <p>
            A XMPP client with encrypted chat and voice/video calls.
        </p>

        <h3>For who</h3>
        <p>
            I started making this as a fun side project, because skype was not living up to my expecations!<br/>
            But because of school and other things that was important, the projekt stalled for now.
        </p>

        <h3>Technical details</h3>
        <p>Made using C#, WPF and a Linux server running XMPP server.</p>

        <h3>Preview</h3>
        <p>Not available.</p>

        <h3>Screenshots</h3>
        <p>Coming soon</p>

        <h3>Learn more</h3>
        <p>Not available</p>
    </div>
</div>