@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@if (Session["language"].ToString() == "DA")
{
    ViewBag.Title = "Besked ikke sendt";
    <div class="well page-top-header">Beskeden blev IKKE sendt :-(</div>
}
else
{
    ViewBag.Title = "Message not Sent";
    <div class="well page-top-header">Message was NOT sent :-(</div>
}

<img src="https://i.giphy.com/g79am6uuZJKSc.gif" />
<br />
<br />

@if (Session["language"].ToString() == "DA")
{
    <p>
        Årh nej.. noget gik galt!<br/>
        Venligst prøv igen eller gå tilbage til forsiden.
    </p>
    <br/>
    <a class="btn btn-success" href="@Url.Action("Contact", "Home")">Prøv igen</a>
    <a class="btn btn-warning" href="@Url.Action("Index", "Home")">Tilbage til forsiden</a>
}
else
{
    <p>
        Oh snap.. something went wrong!<br />
        Please try again or return to the front page.
    </p>
    <br/>
    <a class="btn btn-success" href="@Url.Action("Contact", "Home")">Try again</a>
    <a class="btn btn-warning" href="@Url.Action("Index", "Home")">Back to the front page</a>
}