@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["language"].ToString() == "DA")
{
    ViewBag.Title = "Besked sendt";
    <div class="well page-top-header">Besked sendt!</div>
}
else
{
    ViewBag.Title = "Message Sent";
    <div class="well page-top-header">Message sent!</div>
}

<img src="https://i.giphy.com/OBfYOx5gWfI9W.gif" />
<br />
<br />

@if (Session["language"].ToString() == "DA")
{
    <p>
        Tusind tak fordi du tog dig tid til at kontakte mig.<br />
        Jeg venter spændt på at modtage den og svare dig tilbage hurtigst muligt :-)
    </p>
    <br />
    <a class="btn btn-success" href="@Url.Action("Index", "Home")">Tilbage til siden</a>
}
else
{
    <p>
        Thank you so much for taking the time to contact me.<br />
        I am eagerly awaiting your message and will reply you as soon as possible. :-)
    </p>
    <br />
    <a class="btn btn-success" href="@Url.Action("Index", "Home")">Back to the site</a>
}