@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Education";
}

<div class="well page-top-header">Education</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Business Academy</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Major</th>
                    <th>Years</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Computer Science</td>
                    <td>2014-2017</td>
                    <td>I am getting my Computer Science degree at Business Academy Aarhus.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">School</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Type</th>
                <th>Years</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>High School</td>
                <td>1988-2000</td>
                <td>I have finished 12th grade.</td>
            </tr>
                <tr>
                    <td>College</td>
                    <td>2009-2013</td>
                    <td>Finished my college degree at VUC Aarhus.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Other types of school or study</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Type</th>
                <th>Years</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>IT School</td>
                <td>2000</td>
                <td>I had a 6 months stay at an IT school with major in networking.</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>