@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well page-top-header">Uddannelse</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Skole</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Niveau</th>
                    <th>Beskrivelse</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>Folkeskole</td>
                <td>1988-2000</td>
                <td>Jeg har afsluttet 12. klasse.</td>
            </tr>
                <tr>
                    <td>HF</td>
                    <td>2009-2013</td>
                    <td>Afsluttet min gymnasiale eksamen på VUC Aarhus.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Erhvervs Akademi</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Uddannelse</th>
                    <th>År</th>
                    <th>Beskrivelse</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Datamatiker</td>
                    <td>2014-2017</td>
                    <td>Jeg tager datamatiker på Erhvervs Akademi Aarhus.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Andre typer skole eller studier</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>År</th>
                    <th>Beskrivelse</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>IT Højskole</td>
                    <td>2000</td>
                    <td>Jeg havde et 6 mdr. ophold på en IT højskole med speciale i netværk.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>