@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Introduktion";
}

<div class="well page-top-header">Introduktion</div>

<p>
    Hej, mit navn er Niels, og jeg er en 33 årig udvikler fra Danmark.<br />
    Jeg har læst Datamatiker på Erhvervsakademi Aarhus.
</p>
<br />
<p>
    Jeg har en passion for programmering og software udvikling.<br />
    I 2012 lærte jeg migselv C# + Winforms i løbet af ét år, og blev forelsket i sproget, samt det muligheder. Så jeg besluttede mig for at sige mit fuldtidsarbejde op og satse på en karriere indenfor software udvikling, hvor at læse til datamatiker er første skridt. Jeg arbejder hårdt i og udenfor skolen med at lære forskellige teknologier, samt lave projekter for at lære nye ting.
    Jeg er næsten færdig med skole (Januar 2017) og ser frem til at komme tilbage til at arbejde fuldtid, og nu som udvikler.
</p>
<h3>Mig som person</h3>
<hr />
<p>
    Jeg er et meget rolig menneske, altid glad, smilende og udadvendt.<br />
    Jeg elsker at side og nørde med løsninger der gør andre menneskers liv nemmere og bedre, og skabe glæde og positivitet omkring mig.
</p>
<h3>Familie liv</h3>
<hr />
<p>
    Jeg har en vidunderlig forlovet som bor i USA.<br />
    Vi har været sammen i 2 år nu. Hende og jeg har 3 dejlige børn fra hendes tidligere ægteskab.
</p>
