@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Introduction";
}

<div class="well page-top-header">Introduction</div>

<p>
    Hi, My name is Niels, I am a 33 year old developer from Denmark.<br />
    I have studied computer science at Business Academy Aarhus.
</p>
<br />
<p>
    I have a passion for programming and software development.<br />
    In 2012 I taught myself C# + Winforms during one year, and fell in love with the language and it’s possibilities, so I decided to quit my full time job and pursue a career within software development, by taking Computer Science as the first step. I am working hard in and outside of school learning different technologies, and building projects to learn.
    I am almost done with school (January 2017) and looking forward to getting back to working full time, and now in software development.
</p>
<h3>Me as a person</h3>
<hr />
<p>
    I am a very calm person, always smiling, happy and outgoing.<br />
    I love to sit and work on solutions that makes other peoples lives easier and better, and to create hapiness and positivity around me.
</p>
<h3>Family life</h3>
<hr />
<p>
    I have a wonderful and supportive fianceé who lives in the US.<br />
    We have been together for 2 years now, and she and I have 3 wonderful children from her previous marriage.<br />
</p>