@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well page-top-header">Færdigheder</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Certifikater</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Niveau</th>
                    <th>Beskrivelse</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Kørekort</td>
                    <td>B (Danmark)</td>
                    <td>For almindelig bil.</td>
                </tr>
                <tr>
                    <td>Gaffel Truck</td>
                    <td>N/A (Danmark)</td>
                    <td>Alle størrelser gaffeltruck.</td>
                </tr>
                <tr>
                    <td>Kran</td>
                    <td>C (Danmark)</td>
                    <td>Travers kran.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Programerings Sprog</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>År</th>
                    <th>Beskrivelse</th>
                    <th>Erfaring</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>C#</td>
                    <td>5</td>
                    <td>Er mit favorit sprog, jeg har en helt speciel kærlighed for C# da jeg lærte migselv sproget. Det er det primære sprog jeg elsker at arbejde i.</td>
                    <td>
                        <div class="progress" style="width: 75px;">
                            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>HTML5 + CSS3</td>
                    <td>5-8</td>
                    <td>jeg har brugt HTML5 og CSS til at lave en masse små sites i min tid.</td>
                    <td>
                        <div class="progress" style="width: 75px;">
                            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Java Script og JQuery</td>
                    <td>2</td>
                    <td>Siden jeg er begyndt at arbejde mere med C# MVC så er jeg begyndt at lære en hel del JS og JQury.</td>
                    <td>
                        <div class="progress" style="width: 75px;">
                            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Unix BASH Scripting</td>
                    <td>7</td>
                    <td>Jeg bruger bash scripting en del på miine servere til at automatisere ting.</td>
                    <td>
                        <div class="progress" style="width: 75px;">
                            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Java</td>
                    <td>2</td>
                    <td>Jeg har lært Java I min studie tid, da det var hovedsproget vi arbejde med.</td>
                    <td>
                        <div class="progress" style="width: 75px;">
                            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Unity3D</td>
                    <td>0.5</td>
                    <td>Jeg har leget en smule med at lave spil med C# i Unity3D</td>
                    <td>
                        <div class="progress" style="width: 75px;">
                            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Java Server faces (JSF)</td>
                    <td>0.5</td>
                    <td>Vi have et kursus med JSF i skolen, hvor vi skulle lave en CRM løsning med XHTMl og JSF.</td>
                    <td>
                        <div class="progress" style="width: 75px;">
                            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Python</td>
                    <td>0.2</td>
                    <td>Jeg købte en Raspberry Pi og har skrevet et par programmer i python til at styre sonsorene.</td>
                    <td>
                        <div class="progress" style="width: 75px;">
                            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Arbejds færdigheder</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>År</th>
                    <th>Beskrivelse</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Proxmox Servere</td>
                    <td>4-5</td>
                    <td>
                        Jeg har haft mine egne servere i mange år, og bruger altid proxmox som basis med enten windows eller linux ovenpå.
                        Jeg administrere flere servere for et webhosting firma med et proxmox setup med CentOS7 + CPanel virtuelle maskiner.
                    </td>
                </tr>
                <tr>
                    <td>Skole IT-Afdeling</td>
                    <td>1.5</td>
                    <td>
                        Arbejde i et lille team med 2 andre, hvor vi administrerede skolens IT/Servere/netværk.
                        jeg skrev også nogle applikationer til at administrere Active Directory og til at overvåge skolens IT infrastruktur.
                    </td>
                </tr>
                <tr>
                    <td>Lager</td>
                    <td>8</td>
                    <td>
                        Arbejdede som en pakker / gaffeltruck operatør på flere forskellige lagre.
                        Arbjede med alt fra VVS tilbehør til ekstremt giftig kemikalier.
                    </td>
                </tr>
                <tr>
                    <td>Kvalitets Produktion</td>
                    <td>3</td>
                    <td>Arbejde i en produktions virksomhed, hvor vi lavede høj-kvalitets træbordplader til køkkener.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Personlige færdigheder</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Niveau</th>
                    <th>Beskrivelse</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Kritisk Tænkning</td>
                    <td>
                        <div class="progress" style="width: 100px;">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </td>
                    <td>Jeg føler jeg er god til at stoppe op og analysere inden jeg bare tror på noget blindt.</td>
                </tr>
                <tr>
                    <td>Logisk Tænkning</td>
                    <td>
                        <div class="progress" style="width: 100px;">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </td>
                    <td>Jeg er en logisk person. Jeg er god til at stoppe op og tænke, selv i emotionelle situationer</td>
                </tr>
                <tr>
                    <td>Pålidelig</td>
                    <td>
                        <div class="progress" style="width: 100px;">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </td>
                    <td>Jeg er en meget pålidelig person, hvis der er noget jeg skal have gjort, så skal det nok blive det. Og hvis jeg lover noget, så skal jeg nok følge det til dørs.</td>
                </tr>
                <tr>
                    <td>Fleksibel</td>
                    <td>
                        <div class="progress" style="width: 100px;">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </td>
                    <td>Jeg er meget fleksibel, og tror på det rigtige værktøj til jobbet. Jeg er ikke sat i mine veje, og ændring er velkommen.</td>
                </tr>
                <tr>
                    <td>Menneske færdigheder</td>
                    <td>
                        <div class="progress" style="width: 100px;">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </td>
                    <td>Jeg er rigtig go til at forstå, relatere til, og snakke/arbejde med andre mennesker af alle typer.</td>
                </tr>
                <tr>
                    <td>Motivation</td>
                    <td>
                        <div class="progress" style="width: 100px;">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        Jeg er meget motiveret, når jeg sætter mig for at gøre noget, eller har et job der skal laves,
                        så kan jeg arbejde i meget lange perioder af gangen for at gøre et godt job og få det gjort rigtigt.
                    </td>
                </tr>
                <tr>
                    <td>Etisk</td>
                    <td>
                        <div class="progress" style="width: 100px;">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </td>
                    <td>Etik er vigtigt for mig, at gøre det rigtige, for de rigtige grunde, selv når ingen kigger!</td>
                </tr>
                <tr>
                    <td>Selvstændig</td>
                    <td>
                        <div class="progress" style="width: 100px;">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        Ligesom jeg arbejder godt i teams, så arbejder jeg også rigtig godt selvstændigt.
                        Jeg har en go arbejdsmoral, og kan løre problemer og finde løsninger på egen hånd.
                    </td>
                </tr>
                <tr>
                    <td>Tålmodighed</td>
                    <td>
                        <div class="progress" style="width: 100px;">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </td>
                    <td>Jeg har en rigtig god portion tålmodighed, både med ting jeg arbejder på, men også med folk jeg arbejder med.</td>
                </tr>
                <tr>
                    <td>Ansvarlighed</td>
                    <td>
                        <div class="progress" style="width: 100px;">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        At være ansvarlig er vigtigt i livet, vi er altid ansvarlige for alting vi rører ved.
                        Så det er vigtigt at vi tager den ansvarlighed alvorligt, og ikke bare vasker det af på andre.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>