@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Work";
}

<div class="well page-top-header">Work History</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">IT Jobs</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Year</th>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>NovaKitty Software</td>
                    <td>2015-2016</td>
                    <td>CEO / Developer</td>
                    <td>Working in my own software development company.</td>
                </tr>
                <tr>
                    <td>Freelancer</td>
                    <td>2015-2016</td>
                    <td>Server Administrator.</td>
                    <td>Setting up servers, infrastructure and daily maintenance.</td>
                </tr>
                <tr>
                    <td>Rathlouskolen</td>
                    <td>2014</td>
                    <td>IT Administrator</td>
                    <td>Working in an IT team at a school, managing the daily IT and coding software.</td>
                </tr>
                <tr>
                    <td>Xiahost</td>
                    <td>2011-2012</td>
                    <td>CEO / IT Administrator / Sales</td>
                    <td>Working in my own server hosting company, selling VPS and Server solutions online.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Warehouse Jobs</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Year</th>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>H-Daugaard A/S</td>
                    <td>2007-2009</td>
                    <td>Forklift operator / Picker</td>
                    <td>Warehousing for highly toxic chemicals</td>
                </tr>
                <tr>
                    <td>Lemvig Müller A/S</td>
                    <td>2006-2007</td>
                    <td>Forklift operator / Picker</td>
                    <td>External warehousing of plumbing supplies for stores.</td>
                </tr>
                <tr>
                    <td>Frigoscandia A/S</td>
                    <td>2005-2006</td>
                    <td>Forklift operator / Picker</td>
                    <td>Freezer warehouse for meat and other frosen food items.</td>
                </tr>
                <tr>
                    <td>H-Daugaard A/S</td>
                    <td>2004-2005</td>
                    <td>Forklift operator / Picker / Department Supervisor.</td>
                    <td>External warehousing for machine factory.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Production Jobs</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Year</th>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Spekva A/S</td>
                    <td>2001-2004</td>
                    <td>Machine operator and quality inspection</td>
                    <td>Making quality wooden tabletops for kitchens and living rooms.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Volunteer Jobs</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Teacher</td>
                    <td>Community project Teaching senior citizen computer skills.</td>
                </tr>
                <tr>
                    <td>Yard work</td>
                    <td>Community project that mowed lawns for senior citizens who needed help.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>