@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Arbejde";
}

<div class="well page-top-header">Arbejdes historik</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">IT Jobs</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Virksomhed</th>
                    <th>År</th>
                    <th>Titel</th>
                    <th>Beskrivelse</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>NovaKitty Software</td>
                    <td>2015-2016</td>
                    <td>Selvstændig / Udvikler</td>
                    <td>Arbejder i min egen software udviklings virksomhed</td>
                </tr>
                <tr>
                    <td>Freelancer</td>
                    <td>2015-2016</td>
                    <td>Server Administrator.</td>
                    <td>Opsætte servere, infrastruktur og dalig vedligeholdelse.</td>
                </tr>
                <tr>
                    <td>Rathlouskolen</td>
                    <td>2014</td>
                    <td>IT Administrator</td>
                    <td>Arbejde i et IT team på en skole, daglige IT drift samt kode software.</td>
                </tr>
                <tr>
                    <td>Xiahost</td>
                    <td>2011-2012</td>
                    <td>Selvstændig / IT Administrator / Salg</td>
                    <td>Arbejde i min egen server hosting virksomhed med at sælge VPS og server løsninger online.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Lager Jobs</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Virksomhed</th>
                    <th>År</th>
                    <th>Titel</th>
                    <th>Beskrivelse</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>H-Daugaard A/S</td>
                    <td>2007-2009</td>
                    <td>Gaffeltruck operatør / Picker</td>
                    <td>Lager for meget giftige kemikalier</td>
                </tr>
                <tr>
                    <td>Lemvig Müller A/S</td>
                    <td>2006-2007</td>
                    <td>Gaffeltruck operatør / Picker</td>
                    <td>Eksternt lager for VVS tilbehør til butikker.</td>
                </tr>
                <tr>
                    <td>Frigoscandia A/S</td>
                    <td>2005-2006</td>
                    <td>Gaffeltruck operatør / Picker</td>
                    <td>Fryselager for kød og andre frosne madvare.</td>
                </tr>
                <tr>
                    <td>H-Daugaard A/S</td>
                    <td>2004-2005</td>
                    <td>Gaffeltruck operatør / Picker / Afdelings leder.</td>
                    <td>Eksternt lager for maskin fabrikanter.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Produktions Jobs</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Virksomhed</th>
                <th>År</th>
                <th>Titel</th>
                <th>Beskrivelse</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Spekva A/S</td>
                <td>2001-2004</td>
                <td>Maskin operatør og kvalitets inspektion</td>
                <td>Lave kvalitets træ bordplader til køkken og hjem.</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Frivilligt Arbejde</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lærer</td>
                    <td>By projekt med at give pensionister PC-Kørekort.</td>
                </tr>
                <tr>
                    <td>Have arbejde</td>
                    <td>By projekt hvor vi tog rundt og slog græs for pensionister som ikke selv have mulighed.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>