body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.page-top-header {
    background: #007da6 !important;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
}

.sidebar {
    /*background-color: #ebeaea;*/
    border-radius: 25px;
    background: #ebeaea;
    padding: 20px;
}

.name-text {
    font-size: 25px;
}

.text-footer {
    color: whitesmoke;
}

/* TABS */
#exTab .nav-pills > li > a {
  border-radius: 4px 4px 4px 4px ;
}

#exTab .tab-content {
  color : white;
  background-color: #008CBA;
  padding : 5px 15px;
}